body{
overflow-x: hidden;
height: auto;
}
.header {
  height: 150px;
  padding-top: 65px;
  padding-left: 2.2vw;
}
nav {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 50vw;
}
nav > a {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.81s ease;
}
nav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.hero {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-left: 2.2vw;
  position: relative;
}
.hero h1 {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 100px;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 1000px
}
.hero p {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  max-width: 750px;
}
.hero a {
  width: 300px;
  height: 50px;
  font-family: "Zalando Sans Expanded", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 41px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgb(102, 102, 102);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.81s ease;
}
.hero a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.Bohdan {
  height: 100vh;
  width: 100%;
  position: relative;
 
}
.Bohdan img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;

}
.me   {
  width: 455px;
  height: 606px;
  position: absolute;
  z-index: 2;
  right: 4.11vw;
  top: 0;
  background-image: url(../images/Photo.gesicht.jpg);
  background-size: 455px 606px;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.uber{
height: 100vh;
background-image: url(../images/dark-bg4.jpeg);
  background-repeat: no-repeat;
background-size: cover;  
width: 100%;
position: relative;
}
.mich{
width: 850px;
height: 350px;
background-color: gray;
border-radius: 80px;
color: #ffffff;
text-align: center;
padding: 10px;
position: absolute;
top: 0%;
left: 50%;
transform: translate(-50%,-50%);
font-family: "Zalando Sans Expanded", sans-serif;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 35px
}
.mich h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.mich p {
font-size: 24px;
width: 700px;
text-align: center;
}

